.container-solutions{
    width: 100%;
    position: relative;
}
.container-solutions img{
    width: 100%;
    max-width: 100%;
}
.container-block{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-solutions-title{
    width: 60%;
    margin: auto;
}
.text-blue-solution{
    font-family: MontserratBlack, sans-serif;
    font-size: 30px;
    color: #1d6dc2;
}
.container-solutions-title p{
    text-align: left;
    font-size: 25px;
    font-family: MontserratRegular, sans-serif;
}
.container-solutions-info{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
}
.container-solutions-info-item{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10px;
}
.container-solutions-info-item-image{
    width: 30%;
}
.container-solutions-info-item-image img{
    width: 100%;
}
.container-solutions-info-item-data{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
.data-title{
    font-size: 15px !important;
    font-family: MontserratBlack, sans-serif !important;
    color: black !important;
}
.data-text{
    font-size: 12px !important;
    width: 100% !important;
    box-sizing: border-box;
}
.container-solutions-footer{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

/*responsivo*/
@media only screen and (min-width: 0px) and (max-width: 900px){
    .container-solutions{
        background-image: url('../../Assets/Images/Solutions/Fondo3.jpg');
        background-position: 95% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .container-solutions > img{
        display: none;
    }
    .container-block{
        width: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
    }
    .container-solutions-title{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 50px 5px 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .container-solutions-title p{
        font-size: 3vh;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
    }
    .text-blue-solution{
        font-size: 4vh;
        padding-right: 30px;
    }
    .container-solutions-info{
        height: auto;
        overflow: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 !important;
        padding-top: 0;
    }
    .container-solutions-info-item{
        flex-direction: column;
        padding: 3px;
        box-sizing: border-box;
        background: rgba(255,255,255,0.7);
        margin: 5px;
        width: 33.5vw !important;
    }
    .container-solutions-info-item-image{
        border-radius: 3px;
        width: 120px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-info-item-data{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    .data-title{
        font-size: 2vh;
        text-align: center !important;
    }
    .data-text{
        font-size: 1.5vh;
        text-align: justify !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 999px){
    /*.container-solutions{
        width: 100%;
        box-sizing: border-box;
    }
    .container-solutions img{
        width: 100%;
        max-width: 100%;
    }
    .container-block{
        width: 100%;
        box-sizing: border-box;
    }
    .container-solutions-title{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 50px 5px 5px 5px;
    }
    .container-solutions-title p{
        font-size: 10px;
    }
    .text-blue-solution{
        font-size: 14px;
    }
    .container-solutions-info{
        height: 200px;
        overflow: auto;
        flex-direction: column;
        margin: 0 !important;
        padding-top: 0;
    }
    .container-solutions-info-item{
        flex-direction: column;
        padding: 3px;
        box-sizing: border-box;
        background: rgba(255,255,255,0.7);
        margin: 5px;
    }
    .container-solutions-info-item-image{
        border-radius: 3px;
        width: 70px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-info-item-data{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    .data-title{
        font-size: 10px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 9px !important;
        text-align: justify !important;
    }*/
}
@media only screen and (min-width: 450px) and (max-width: 499px){
    /*.container-solutions-title p{
        font-size: 15px;
    }
    .text-blue-solution{
        font-size: 19px;
    }
    .data-title{
        font-size: 12px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 11px !important;
        text-align: justify !important;
    }*/
}
@media only screen and (min-width: 500px) and (max-width: 599px){
    /*.container-solutions-info-item-image{
        border-radius: 3px;
        width: 90px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-title p{
        font-size: 16px;
    }
    .text-blue-solution{
        font-size: 20px;
    }
    .data-title{
        font-size: 14px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 12px !important;
        text-align: justify !important;
    }*/
}
@media only screen and (min-width: 600px) and (max-width: 649px){
    /*.container-solutions-info{
        height: 200px;
    }
    .container-solutions-title{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 0 5px 5px 5px;
    }
    .container-solutions-info-item-image{
        border-radius: 3px;
        width: 90px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-title p{
        font-size: 18px;
    }
    .text-blue-solution{
        font-size: 22px;
    }
    .data-title{
        font-size: 14px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 12px !important;
        text-align: justify !important;
    }*/
}
@media only screen and (min-width: 650px) and (max-width: 749px){
    /*.container-solutions-info{
        height: 250px;
    }
    .container-solutions-title{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 5px 15px;
    }
    .container-solutions-info-item-image{
        border-radius: 3px;
        width: 110px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-title p{
        font-size: 20px;
    }
    .text-blue-solution{
        font-size: 26px;
    }
    .data-title{
        font-size: 16px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 14px !important;
        text-align: justify !important;
    }*/
}
@media only screen and (min-width: 750px) and (max-width: 949px){
    /*.container-solutions-info-item{
        width: 300px;
    }
    .container-solutions-info{
        height: 250px;
    }
    .container-solutions-title{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 5px 15px;
    }
    .container-solutions-info-item-image{
        border-radius: 3px;
        width: 110px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-title p{
        font-size: 20px;
    }
    .text-blue-solution{
        font-size: 26px;
    }
    .data-title{
        font-size: 16px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 14px !important;
        text-align: justify !important;
    }*/
}
@media only screen and (min-width: 950px) and (max-width: 999px){
    .container-solutions-info-item-image{
        border-radius: 3px;
        width: 100px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }
    .container-solutions-info{
        flex-wrap: wrap !important;
        flex-direction: row !important;
        justify-content: center !important;
        height: 500px;
    }
    .container-solutions-title p{
        font-size: 25px;
    }
    .text-blue-solution{
        font-size: 31px;
    }
    .data-title{
        font-size: 18px !important;
        text-align: center !important;
    }
    .data-text{
        font-size: 16px !important;
        text-align: justify !important;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1249px){
    /*.container-solutions-info-item-image{
        border: solid 1px #1d6dc2;
        border-radius: 3px;
        width: 130px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
    }*/
}
@media only screen and (min-width: 1250px){
    .container-solutions-info{
        width: 80%;
        margin: 50px auto !important;
    }
    .container-solutions-title p{
        font-size: 30px;
    }
    .text-blue-solution{
        font-size: 40px;
    }
}