.container-phone-section{
    height: auto;
    position: relative;
}
.container-phone-section img{
    width: 100%;
    max-width: 100%;
}
.container-phone-section-block{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left{
    left: 0;
}
.inner-block-left{
    width: 350px;
    margin-left: 60px;
}
.inner-block-left p{
    font-family: MontserratRegular, sans-serif;
    color: white;
    font-size: 30px;
}
.right{
    right: 0;
    width: 40%;
}
.inner-block-right{
    width: 450px;
    margin: auto;
}
.inner-block-right-title{
    font-size: 25px;
    color: rgb(40,108,180);
    font-family: MontserratBlack, sans-serif;
    text-align: left;
    margin: 10px 0;
}
.inner-block-right-text{
    color: gray;
    text-align: left;
    margin: 10px 0;
    font-family: MontserratRegular, sans-serif;
    font-size: 14px;
}
.inner-block-right-data{
    margin-top: 20px;
}
.inner-block-right-data-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10px;
}
.inner-block-right-data-item img{
    width: 100px;
}
.inner-block-right-data-item-info{
    padding-left: 10px;
    box-sizing: border-box;
}
.inner-block-right-data-item-info p{
    text-align: left;
}
.item-info-title{
    font-family: MontserratBlack, sans-serif;
    color: black;
}
.item-info-text{
    font-family: MontserratRegular, sans-serif;
    color: gray;
    font-size: 14px;
}
@keyframes phone {
    0%{ background-position: 0% 0%}
    100%{ background-position: 70% 0%}
}
@media only screen and (min-width: 0px) and (max-width: 900px){
    .container-phone-section{
        background-image: url('../../Assets/Images/PhoneSection/Fondo2.jpg');
        background-size: cover;
        background-position: 70% 0%;
        background-repeat: no-repeat;
        height: 100vh;
        animation: phone 5s linear 2s infinite alternate;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-phone-section img{
        display: none;
    }
    .container-phone-section-block{
        position: static;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
    .inner-block-left,
    .inner-block-right{
        width: 100%;
        margin: 0;
        /*background: rgba(27,103,181, 0.8);*/
        background: rgba(255,255,255,0.9);
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3px;
    }
    .inner-block-left p{
        font-size: 4vh;
        text-align: center;
        margin: auto;
        color: rgb(27,103,181);
    }
    .inner-block-right-title{
        color: rgb(27,103,181);
        font-size: 2.5vh !important;
        text-align: center;
    }
    .inner-block-right-text{
        color: rgb(27,103,181);
        font-size: 2vh;
        text-align: center;
    }
    .inner-block-right-data{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto;
        width: 100%;
    }
    .inner-block-right-data-item{
        flex-direction: column;
    }
    .item-info-title{
        font-size: 1.5vh !important;
        text-align: center !important;
        color: rgb(27,103,181);
    }
    .item-info-text{
        color: rgb(27,103,181);
        text-align: center !important;
        font-size: 1.4vh;
    }
}
@media only screen and (min-width: 0px) and (max-width: 1350px){
    .inner-block-right-data{
        /*margin-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
        overflow: auto;*/
    }
    .inner-block-right-data-item{
        /*margin: 0 10px 0 0;
        flex-direction: column;*/
    }
    .inner-block-right-data-item img{
        width: 40px;
        height: 40px;
        margin: 5px auto;
        display: block;
    }
    .inner-block-right-data-item-info{
        padding: 5px;
    }
    .item-info-title{
        /*font-size: 9px;
        text-align: center !important;*/
    }
    .item-info-text{
        /*font-size: 6px;
        text-align: center !important;*/
    }
}
@media only screen and (min-width: 500px) and (max-width: 599px){
    /*.inner-block-left p{
        font-size: 14px;
        text-align: left;
    }
    .inner-block-right-title{
        font-size: 14px;
        margin: 0;
    }
    .inner-block-right-text{
        margin: 0;
        font-size: 8px;
        text-align: justify;
    }
    .inner-block-right-data-item img{
        width: 60px;
        height: 60px;
        margin: 5px auto;
        display: block;
    }
    .item-info-title{
        font-size: 11px;
        text-align: center !important;
    }
    .item-info-text{
        font-size: 8px;
        text-align: center !important;
    }*/
}
@media only screen and (min-width: 600px) and (max-width: 799px){
    /*.inner-block-left{
        padding-right: 35px;
    }
    .inner-block-left p{
        font-size: 17px;
        text-align: left;
    }
    .inner-block-right-title{
        font-size: 17px;
        margin: 0;
    }
    .inner-block-right-text{
        margin: 0;
        font-size: 11px;
        text-align: justify;
    }

    .item-info-title{
        font-size: 14px;
        text-align: center !important;
    }
    .item-info-text{
        font-size: 9px;
        text-align: center !important;
    }*/
    .inner-block-right-data-item img{
        width: 80px;
        height: 80px;
        margin: 5px auto;
        display: block;
    }
    .inner-block-left,
    .inner-block-right{
        width: 90%;
        margin: auto;
        /*background: rgba(27,103,181, 0.8);*/
        background: rgba(255,255,255,0.9);
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 899px){
    /*.inner-block-left{
        padding-right: 45px;
    }
    .inner-block-left p{
        font-size: 20px;
        text-align: left;
    }
    .inner-block-right-title{
        font-size: 20px;
        margin: 0;
    }
    .inner-block-right-text{
        margin: 0;
        font-size: 14px;
        text-align: justify;
    }
    .inner-block-right-data-item img{
        width: 100px;
        height: 100px;
        margin: 5px auto;
        display: block;
    }
    .item-info-title{
        font-size: 14px;
        text-align: center !important;
    }
    .item-info-text{
        font-size: 10px;
        text-align: center !important;
    }*/
}
@media only screen and (min-width: 900px) and (max-width: 1099px){
    .inner-block-right{
        width: 400px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .inner-block-left{
        padding-right: 45px;
        width: 50%;
    }
    .inner-block-left p{
        font-size: 20px;
        text-align: left;
    }
    .inner-block-right-title{
        font-size: 20px;
        margin: 0;
    }
    .inner-block-right-text{
        margin: 0;
        font-size: 14px;
        text-align: justify;
    }
    .inner-block-right-data-item img{
        width: 80px;
        height: 80px;
        margin: 5px 0;
        display: block;
    }
    .inner-block-right-data{
        flex-direction: column;
    }
    .inner-block-right-data-item{
        flex-direction: row;
    }
    .item-info-title{
        font-size: 14px;
        text-align: left !important;
        margin-top: 10px;
    }
    .item-info-text{
        font-size: 10px;
        text-align: left !important;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1350px){
    .inner-block-left{
        padding-right: 25px;
        width: 60%;
    }
    .inner-block-left p{
        font-size: 25px;
        text-align: left;
    }
    .inner-block-right-title{
        font-size: 25px;
        margin: 0;
    }
    .inner-block-right-text{
        margin: 0;
        font-size: 18px;
        text-align: justify;
    }
    .inner-block-right-data-item img{
        width: 100px;
        height: 100px;
        margin: 5px 0;
        display: block;
    }
    .inner-block-right-data{
        flex-direction: column;
    }
    .inner-block-right-data-item{
        flex-direction: row;
    }
    .item-info-title{
        font-size: 18px;
        text-align: left !important;
        margin-top: 10px;
    }
    .item-info-text{
        font-size: 14px;
        text-align: left !important;
    }
}