.container-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 250px;
}
.container-footer-logo{
    width: 100%;
}
.container-footer-logo img{
    width: 130px;
    height: auto;
    margin: 20px auto;
    display: block;
}
.copyright,
.contact{
}
.copyright{
    width: 100%;
}
.copyright p{
    font-family: MontserratLight, sans-serif;
    color: white;
    font-size: 11px;
    text-align: center;
}
.contact p{
    padding: 0 110px 20px 0;
    color: white;
    font-family: MontserratLight, sans-serif;
    font-size: 11px;
    width: 300px;
}

/*responsivo*/
@media only screen and (min-width: 0px){
    .container-footer{
        position: relative;
    }
    .container-footer-logo{
        position: absolute;
        bottom: 10px;
    }
    .container-footer-logo img{
        width: 50px !important;
        height: auto !important;
        margin: 0;
    }
    .copyright p{
        font-size: 8px;
    }
}
@media only screen and (min-width: 1350px){
    .container-footer{
        position: relative;
    }
    .container-footer-logo{
        position: absolute;
        bottom: 30px;
    }
    .container-footer-logo img{
        width: 80px !important;
        height: auto !important;
        margin: 0;
    }
    .copyright p{
        font-size: 13px;
    }
}
/**responsivo**/