.container-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
}
.container-header img{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}
.container-header-logo{
    position: relative;
}
.container-header-logo img{
    width: 155px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 150px;
}
.container-header-logo-tabs{
    position: absolute;
    right: 150px;
    top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.container-header-logo-tabs a{
    color: white;
    padding: 0 20px;
    font-family: MontserratRegular, sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.container-header-logo-tabs a:hover{
    cursor: pointer;
}
.container-header-logo-tabs a{
    border-right: solid 1px white;
}

/*responsivo*/
@media only screen and (min-width: 0px) and (max-width: 499px){
    .container-header{
        height: 80px;
        box-sizing: border-box;
    }
    .container-header-logo img{
        position: static;
        float: left;
        margin: 15px 5px;
    }
    .container-header-logo-tabs{
        position: static;
        float: right;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        justify-content: flex-end;
        height: 100%;
    }
    .container-header-logo-tabs p{
        margin: 5px;
    }
    .container-header-logo-tabs p:nth-child(1){
        border-right: none;
    }
}
@media only screen and (min-width: 500px) and (max-width: 767px){
    .container-header-logo img{
        left: 4%;
    }
    .container-header-logo-tabs{
        right: 1%;
    }
    .container-header-logo-tabs p{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .container-header-logo img{
        left: 10%;
    }
    .container-header-logo-tabs{
        right: 10%;
    }
    .container-header-logo-tabs p{
        font-size: 2vw;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1199px){
    .container-header-logo img{
        left: 13%;
    }
    .container-header-logo-tabs{
        right: 13%;
    }
    .container-header-logo-tabs p{
        font-size: 10px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px){
    .container-header-logo img{
        left: 10%;
        width: 160px;
    }
    .container-header-logo-tabs{
        right: 5%;
    }
    .container-header-logo-tabs a{
        font-size: 14px;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 2299px){
    .container-header{
        height: 100px;
    }
    .container-header-logo img{
        top: 20px;
        width: 270px;
    }
    .container-header-logo-tabs{
        top: 35px;
    }
    .container-header-logo-tabs a{
        font-size: 25px;
    }
}
@media only screen and (min-width: 2300px) and (max-width: 2999px){
    .container-header{
        height: 150px;
    }
    .container-header-logo img{
        top: 20px;
        width: 400px;
        left: 10%;
    }
    .container-header-logo-tabs{
        top: 50px;
        right: 10%;
    }
    .container-header-logo-tabs a{
        font-size: 35px;
    }
}
@media only screen and (min-width: 3000px) and (max-width: 3999px){
    .container-header{
        height: 200px;
    }
    .container-header-logo img{
        top: 40px;
        width: 500px;
        left: 10%;
    }
    .container-header-logo-tabs{
        top: 70px;
        right: 10%;
    }
    .container-header-logo-tabs p{
        font-size: 45px;
    }
}
@media only screen and (min-width: 4000px){
    .container-header{
        height: 300px;
    }
    .container-header-logo img{
        top: 70px;
        width: 700px;
        left: 12%;
    }
    .container-header-logo-tabs{
        top: 120px;
        right: 12%;
    }
    .container-header-logo-tabs p{
        font-size: 65px;
        padding: 0 50px;
    }
}
/**responsivo**/