.container-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 60px;
}
.container-header img{
    width: 100%;
    max-width: 100%;
}
.container-header-logo{
    position: relative;
}
.container-header-logo img{
    width: 155px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 150px;
}
.container-header-logo-tabs{
    position: absolute;
    right: 150px;
    top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.container-header-logo-tabs p{
    color: white;
    padding: 0 20px;
    font-family: MontserratRegular, sans-serif;
    font-size: 16px;
}
.container-header-logo-tabs p:hover{
    cursor: pointer;
}
.container-header-logo-tabs p:nth-child(1){
    border-right: solid 1px white;
}